body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Product{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.Product img{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}
.Product h2{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
.Product p{
    color: #666;
    font-size: 18px;
    margin-bottom: 15px;
}
.Buy{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.cart{
    background-color: #d25025;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.Buy:hover{
    color: #d25025;
}
.cart:hover{
    color: #153c1e;
}